.CollectionPreview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .Title {
    font-size: 28px;
    margin-bottom: 25px;

    span:hover {
      cursor: pointer;
    }
  }

  .Preview {
    display: flex;
    justify-content: space-between;
  }
}
